In [8]:
import cassandra

```docker network create cassandra```

```docker run --rm -d --name cassandra --hostname cassandra --network cassandra cassandra```

In [25]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
    print("Connection Established")
except Exception as e:
    print("Connection Failed")

Connection Established

In [30]:
try:
    session.execute("CREATE KEYSPACE IF NOT EXISTS store WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : '1' }")
except Exception as e:
    print(e)

In [32]:
try:
    session.set_keyspace('store')
except Exception as e:
    print(e)

In [52]:
query = "CREATE TABLE IF NOT EXISTS music_libary"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"

try: 
    session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

query = "CREATE TABLE IF NOT EXISTS album_libary"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (artist_name, year))"

try: 
    session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

In [54]:
insert_music_libary = "INSERT INTO music_libary (year, artist_name, album_name)"
insert_music_libary = insert_music_libary + "VALUES (%s, %s, %s)"

insert_album_libary = "INSERT INTO album_libary (artist_name, year, album_name)"
insert_album_libary = insert_album_libary + "VALUES (%s, %s, %s)"

try: 
    session.execute(insert_music_libary, (1970, "The Beatles", "Let it Be"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1965, "The Beatles", "Rubber Soul"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1965, "The Who", "My Generation"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1966, "The Monkees", "The Monkees"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1970, "The Carpenters", "Close to You"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_album_libary, ("The Beatles", 1970, "Let it Be"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_album_libary, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_album_libary, ("The Who", 1965, "My Generation"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_album_libary, ("The Monkees", 1966, "The Monkees"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_album_libary, ("The Carpenters", 1970, "Close to You"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

In [55]:
query = "SELECT * FROM music_libary WHERE YEAR=1970"

try: 
    rows = session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1970 The Beatles Let it Be
1970 The Carpenters Close to You

In [56]:
query = "SELECT * FROM album_libary WHERE artist_name='The Beatles'"

try: 
    rows = session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1965 The Beatles Rubber Soul
1970 The Beatles Let it Be

In [57]:
drop_table = "DROP TABLE music_libary"

try: 
    session.execute(drop_table)
except Exception as e: 
    print("Error: Dropping creating table")
    print (e)

drop_table = "DROP TABLE album_libary"

try: 
    session.execute(drop_table)
except Exception as e: 
    print("Error: Dropping creating table")
    print (e)

In [58]:
session.shutdown()
cluster.shutdown()