In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
    print("Connection Established")
except Exception as e:
    print("Connection Failed")

Connection Established

In [3]:
try:
    session.execute("CREATE KEYSPACE IF NOT EXISTS music_libary WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : '1' }")
except Exception as e:
    print(e)

In [4]:
try:
    session.set_keyspace('music_libary')
except Exception as e:
    print(e)

In [5]:
query = "CREATE TABLE IF NOT EXISTS music_libary"
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (year))"

try: 
    session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

In [6]:
insert_music_libary = "INSERT INTO music_libary (year, artist_name, album_name, city)"
insert_music_libary = insert_music_libary + "VALUES (%s, %s, %s, %s)"

try: 
    session.execute(insert_music_libary, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1965, "The Who", "My Generation", "London"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1966, "The Monkees", "The Monkees", "LA"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1970, "The Carpenters", "Close to You", "San Diego"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

In [7]:
query = "SELECT * FROM music_libary WHERE YEAR=1965"

try: 
    rows = session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1965 The Who My Generation

In [8]:
query = "CREATE TABLE IF NOT EXISTS music_libary1"
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (year, album_name))"

try: 
    session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

In [9]:
insert_music_libary = "INSERT INTO music_libary1 (year, artist_name, album_name, city)"
insert_music_libary = insert_music_libary + "VALUES (%s, %s, %s, %s)"

try: 
    session.execute(insert_music_libary, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1965, "The Who", "My Generation", "London"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1966, "The Monkees", "The Monkees", "LA"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    session.execute(insert_music_libary, (1970, "The Carpenters", "Close to You", "San Diego"))
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

In [10]:
query = "SELECT * FROM music_libary1 WHERE YEAR=1965"

try: 
    rows = session.execute(query)
except Exception as e: 
    print("Error: Issue creating table")
    print (e)

for row in rows:
    print(row.year, row.artist_name, row.album_name)

1965 The Who My Generation
1965 The Beatles Rubber Soul

In [11]:
drop_table = "DROP TABLE music_libary"

try: 
    session.execute(drop_table)
except Exception as e: 
    print("Error: Dropping creating table")
    print (e)

drop_table = "DROP TABLE music_libary1"

try: 
    session.execute(drop_table)
except Exception as e: 
    print("Error: Dropping creating table")
    print (e)

In [12]:
session.shutdown()
cluster.shutdown()